@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap");
.signup {
  width: 100vw;
  text-align: center;

  & .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.5em 0;

    & img {
      margin-bottom: 1.5em;
      width: 7em;
      height: auto;
    }
    & h1 {
      font-family: "Space Grotesk", sans-serif;
      font-size: 4rem;
    }
  }

  & > form {
    position: relative;
    width: 80%;
    height: 32em;
    margin: 3em auto;
    padding: 2em;
    background-color: #f2f4f7;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    & > input {
      font-family: "Inter", sans-serif;
      font-size: 1rem;
      margin: 1em 0;
      padding: 1em 0.5em;
      width: 100%;
      border: 1px solid transparent;
      border-radius: 0.3rem;
      transition: all 0.2s ease-in-out;

      &:hover,
      &:focus {
        border: 1px solid gray;
      }
    }

    .passwordWrapper {
      position: relative;
      width: 100%;
      & > input {
        font-family: "Inter", sans-serif;
        font-size: 1rem;
        margin: 1em 0;
        padding: 1em 0.5em;
        width: 100%;
        border: 1px solid transparent;
        border-radius: 0.3rem;
        transition: all 0.2s ease-in-out;

        &:hover,
        &:focus {
          border: 1px solid gray;
        }
      }
    }
    & .faEye {
      position: absolute;
      top: 42%;
      right: 1.5em;
      scale: 1.25;
      transition: all 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
      }
    }

    & > button {
      font-family: "Inter", sans-serif;
      font-weight: 600;
      width: 100%;
      padding: 0.5em 1em;
      margin: 1.5em 0 1em;
      border-radius: 0.3rem;
      background-color: coral;
      border: 1px solid transparent;
      color: white;

      &:hover {
        background-color: #fcefe8;
        color: #e86934;
        cursor: pointer;
        border: 1px solid #e86934;
      }
    }

    & > p {
      font-size: 1.1rem;
      margin-top: 0.5em;
      & > a {
        color: #ee6b4d;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
